.App {
  text-align: center;
}

.App-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 40px;
}

.App,
.App-wrapper {
  height: inherit;
}

.App-logo {
  height: 40px;
}

.App-header {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 20px 0px;
  justify-content: space-between;
  flex-direction: row-reverse;

}

.App-title {
  font-size: 16px;
  margin-left: 15px;
}

.App-status-box {
  background: #fff;
  min-height: 600px;
  border: 1px solid rgba(46, 62, 72, 0.12);
}

.App-status-box-header {
  text-align: left;
  border-bottom: 1px solid rgba(46, 62, 72, 0.12);
  padding: 20px;
  background-color: #F5F5F5;
  font-size: 0.9em;
  font-weight: bold;
}

.App-status-box-header > * {
  font-weight: normal;
}

.App-current-status-circle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-right: 10px;
  position: relative;
  top: 1px;
  display: inline-block;
}

.App-current-status-circle-small {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  position: relative;
  top: 1px;
  display: inline-block;
}

.App-close {
  position: absolute;
  right: 10px;
  top: 10px;
  background: none;
  border: none;
  font-size: 20px;
}

.App-current-status {
  padding: 0 20px;
}

.App-current-status h2 {
  text-align: left;
}

.App-monitor-list {
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: 10px;
}

.App-monitor-list-item {
  width: 50%;
  min-height: 80px;
  text-align: left;
  padding: 0 15px;
  border: 1px solid rgba(46, 62, 72, 0.12);
}

.App-monitor-list-item a {
  font-size: 14px;
  line-height: 1.4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: inherit;
  height: 100%;
}

.App-monitor-list-item p {
  width: 90%;
}

.App-current-status-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.App-current-status-header-icons {
  display: flex;
  align-items: center;
}

.App-current-status-header:hover {
  background: #f5f5f5;
  cursor: pointer;
}

.chevron::before {
	border-style: solid;
	border-width: 2px 2px 0 0;
	content: '';
	display: inline-block;
	height: 10px;
	left: -10px;
	position: relative;
	top: 10px;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 10px;
}

.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}
