.App {
  text-align: center;
}

.App-wrapper {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 40px;
}

.App,
.App-wrapper {
  height: inherit;
}

.App-logo {
  height: 40px;
}

.App-header {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 20px 0px;
  justify-content: space-between;
  flex-direction: row-reverse;

}

.App-title {
  font-size: 16px;
  margin-left: 15px;
}

.App-status-box {
  background: #fff;
  min-height: 600px;
  border: 1px solid rgba(46, 62, 72, 0.12);
}

.App-status-box-header {
  text-align: left;
  border-bottom: 1px solid rgba(46, 62, 72, 0.12);
  padding: 20px;
  background-color: #F5F5F5;
  font-size: 0.9em;
  font-weight: bold;
}

.App-status-box-header > * {
  font-weight: normal;
}

.App-current-status-circle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-right: 10px;
  position: relative;
  top: 1px;
  display: inline-block;
}

.App-current-status-circle-small {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  position: relative;
  top: 1px;
  display: inline-block;
}

.App-close {
  position: absolute;
  right: 10px;
  top: 10px;
  background: none;
  border: none;
  font-size: 20px;
}

.App-current-status {
  padding: 0 20px;
}

.App-current-status h2 {
  text-align: left;
}

.App-monitor-list {
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

.App-monitor-list-item {
  width: 50%;
  min-height: 80px;
  text-align: left;
  line-height: 1.4;
  padding: 0 15px;
  border: 1px solid rgba(46, 62, 72, 0.12);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App-monitor-list-item p {
  width: 90%;
}
