.App {
  text-align: center;
}

.App-wrapper {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 40px;
}

.App-logo {
  height: 40px;
}

.App-header {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 20px 0px;
  
}

.App-title {
  font-size: 16px;
  margin-left: 15px;
}

.App-status-box {
  background: #fff;
  height: 600px;
  border: 1px solid rgba(46, 62, 72, 0.12);
}

.App-status-box-header {
  text-align: left;
  border-bottom: 1px solid rgba(46, 62, 72, 0.12);
  padding: 20px;
  display: flex;
  align-items: center;
  font-weight: normal;
}

.App-current-status-circle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-right: 10px;
  position: relative;
  top: 1px;
}
