.StatusBar {
  padding: 0 20px;
  margin: 10px 0;
}

.StatusBar-product-info {
  display: flex;
  justify-content: space-between;
}

.StatusBar-name, .StatusBar-uptime {
  font-size: 14px;
}

.StatusBar-bar {
  width: 100%;
  height: 35px;
  display: flex;
}

.StatusBar-bar-status {
  height: 100%;
  display: inline-block;
  width: 100%;
  transition: 75ms background ease-in;
}

.StatusBar-bar-status.success {
  background: rgb(0, 212, 128, 0.6);
}

.StatusBar-bar-status.failure {
  background: rgb(241, 58, 89, 0.6);
}

.StatusBar-bar-status.warning {
  background: rgb(255, 229, 51, 0.6);
}

.StatusBar-bar-status.success:hover {
  background: rgb(0, 212, 128, 1);
}

.StatusBar-bar-status.failure:hover {
  background: rgb(241, 58, 89, 1);
}

.StatusBar-bar-status.warning:hover {
  background: rgb(255, 229, 51, 1);
}

.StatusBar-tooltip {
  position: absolute;
}
